/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
    box-sizing: border-box;
  }


/* the line */
  hr {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    color: #2ec4f2;
    height: 3px;
    background-color: #2ec4f2;
    border: 0 none;
    border-radius: 3px;
    margin: 70px auto;
  }

  body {
    color: #2fd6d6;
    font-family: 'Bitter', serif;
    background: #e6f7f7;
    background-position: top;
    background-repeat: no-repeat;
    scroll-behavior: smooth;
    line-height: normal;
  }

  /* Front Page Header stuff */

  .blogtitle {
    display: block;
    text-align: center;
    width: 50%;
    background-color: #23C6B3;
    opacity: 0.9;
    border-radius: 5px;
    margin: 40px 25%;
    padding: 30px;
    font-size: 40px;
    color: #e6f7f7;
    line-height: normal;
    font-family: 'Righteous', serif
  }

  .blogsubtitle {
    font-size: 20px;
    color: #2ec4f2;
    text-align: center;
    width: 100%;
    display: block;
    margin: auto;
    padding: 20px
  }

  /*Posts and show pages*/

  .postcard {
    display: inline-block;
    float: left;
    width: 32%;
    margin: 1px;
  }

  .comments {
    color: #23C6B3;
    display: block;
    text-align: center;
    float: left;
    font-style: italic;
    font-family: 'Bitter', serif;
    font-size: 14px;
    margin: 3px 10px;
  }

  .allposts {
    width: 100%;
    margin: 10px
  }

  p {
    display: block;
    width: auto;
    margin: 10px 10px 0 10px;
    border: 5px solid #23C6B3;
    border-radius: 18px;
    background: #d1f8fc;
    font-size: 18px;
    padding: 20px;
    letter-spacing: .5px;
    color: #747E7A;
    line-height: 23px;
    font-family: 'Bitter', serif;
    overflow: none;
  }

  p:hover {
    background: #C4EFDA;
    background-image:
      radial-gradient(#35CDD1 6%, transparent 0),
      radial-gradient(#35CDD1 6%, transparent 0);
    background-size: 30px 30px;
    background-position: 0 0, 15px 15px;

  }

  .showpagecontent {
    display: block;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    border: 5px solid #23C6B3;
    border-radius: 18px;
    background: #d1f8fc;
    font-size: 18px;
    padding: 20px;
    letter-spacing: .5px;
    color: #747E7A;
    line-height: 23px;
    font-family: 'Bitter', serif;
    overflow: none;
  }

  .post-title {
    font-family: 'Bitter', serif;
    color: #2ec4f2;
    margin: 15px;
    margin-bottom: 2px;
    font-size: 23px
  }

  .post-comments {
    font-family: 'Bitter', serif;
    color: #2ec4f2;
    margin: 50px auto;
    font-size: 20px;
    width: 70%
  }

  .created {
    font-family: 'Bitter', serif;
    margin: 15px;
    margin-top: 2px;
    font-size: 15px
  }

  .actionscontainer {
    display: block;
    text-align: center;
    margin: 20px
  }

  .actions, .actions_show, .comments {
    display: block;
    text-align: center;
    float: left;
    font-style: italic;
    font-family: 'Righteous', serif;
    font-size: 14px;
    color: #C4EFDA;
    margin: 0 10px;
  }

  .actions a:hover, .comments a:hover {
    color: #2fd6d6
  }

  .actions_show {
    margin: 15px;
  }

  .actions-show-box a {
    display: inline-block;

  }

 a:link, a:visited {
   color: #2ec4f2;
   text-decoration: none;
 }

 a:hover, nav a:hover {
   color: #2ec4f2;
   background-color: #e6f7f7;
 }

 #creator {
   padding: 5px
 }

 /* comments */

 .commenter {
   font-size: 20px
 }

 .comment-text {
   margin: 20px;
   border: 4px solid #23C6B3;
   border-radius: 5px;
   padding: 10px;
   font-size: 1.4em;
   background: #C4EFDA;
   background-image:
     radial-gradient(#23C6B3 4%, transparent 0),
     radial-gradient(#23C6B3 4%, transparent 0);
   background-size: 30px 30px;
   background-position: 0 0, 15px 15px;
   color: #747E7A
 }

 .comment-text:hover {
   background-image: none
 }

 .comment-wrapper {
   display: block;
   width: 50%;
   margin: auto;
 }

.comment-actions {
  font-size: 15px;
  margin: 10px;
  text-align: center;
 }

.commentindex {
  font-size: 30px;
  margin: 20px auto;
  text-align: center;
}

 /* forms */

 .submit {
   font-size: 20px

 }

 .post_content input {
   height: 100px
 }


 /* Nav menu */

 #hamburger {
   background-color: #e6f7f7;
   position: fixed;
   top: 0;
   right: 0;
   border-radius: 5px 5px 5px 5px;
   margin: 20px;
   border: 1px solid #2ec4f2;
   line-height: 2.5em;
   font-family: 'Bitter', serif;
   font-size: 20px;
   padding: 1px 13px;
   opacity: 0.8;
   z-index: 100;
   background: #C4EFDA;
   background-image:
     radial-gradient(#35CDD1 9%, transparent 0),
     radial-gradient(#35CDD1 9%, transparent 0);
   background-size: 10px 10px;
   background-position: 0 0, 15px 15px;  font-family: 'Monoton', serif;
   color: #2ec4f2;
   z-index: 100;
 }

 .nav {
   overflow: hidden;
   background-color: #C4EFDA;
   position: fixed;
   top: 0;
   right: 0;
   border-radius: 5px 5px 5px 5px;
   margin: 10px;
   border: 1px solid #2ec4f2;
   display: block;
   line-height: 2.5em;
   font-family: 'Bitter', serif;
   font-size: 16px;
   padding: 8px;
   opacity: 0.9;
   z-index: 100;
 }

 .nav a {
   display: block;
 }

 .nav a:hover {
   background: #C4EFDA;
   color: #35CDD1
 }

 #cross {
   text-decoration: none;
   font-size: 19px
 }

 #top {
   text-align: center;
   padding: 10px;
   display: block;
   margin: 30px auto;
   font-size: 20px;
   border: 3px solid #23C6B3;
   border-radius: 80px;
   background: #C4EFDA;
   position: fixed;
   bottom: 15px;
   right: 15px;
   z-index: 100;
   opacity: 0;
 }

 /* misc and alerts*/

 .noticemessage {
   display: block;
   text-align: center;
   margin-left: 40px;
   color: #C4EFDA;
   border: none;
   background-color: none
 }

 #notice {
   border: none;
   background: none;
 }

 p.alert.alert-success {
   text-align: center;
 }

 .clearfix::after {
   content: "";
   clear: both;
   display: table;
 }

 .footer {
   width: 80%;
   margin: auto;
 }

/*new post form*/

 .post-body {
   text-align: center;
 }

 #post_content {
   width: 80%;
   height: 500px;
   font-size: 1.2em
 }
