// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  box-sizing: border-box;
}

body {
  color: #E3F3F3;
  font-family: Georgia, serif;
  background: #3B4548;
  background-position: top;
  background-repeat: no-repeat;
  scroll-behavior: smooth;
}

.blocktitle2 {
  width: 100%;
  font-style: italic;
  font-family: Georgia, serif;
  font-size: 20px;
  color: #C4EFDA;
  margin: 100px 40px;
}

h3 {
  font-size: 50px;
}

p {
  margin-left: 40px;
  margin-right: 40px;
  border: 10px solid #23C6B3;
  border-radius: 18px;
  background: #C4EFDA;
  font-size: 18px;
  padding: 20px;
  letter-spacing: .5px;
  color: #747E7A;
  text-indent: 30px;
  line-height: 23px;
  font-family: monospace;
  overflow: none;
}

.aboutemilyblock2 {
  display: block;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
  margin-bottom: 20px;
  border: 10px solid #23C6B3;
  border-radius: 20px;
  background: #C4EFDA;
  font-size: 18px;
  padding: 20px;
  letter-spacing: .4px;
  color: #747E7A;
  text-indent: 30px;
  line-height: 30px;
  font-family: monospace;
  overflow: scroll;
}
